ul#navigation {
	background-color: grey;
	color: white;
	padding: 1rem
}

section {
	padding: 2rem;
	opacity: 0;
	transition: opacity 2s;
}

section.active {
	opacity: 1;

}

pre {
	background-color: darkgray;
	color: white;
	padding: 1rem;
}

h2, h3 {
	margin-top: 1rem;
}